*{
  padding: 0;
  margin: 0;
}
.app{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #BFBFBF;
  height: 100vh;

}

.main-container{
  width: 500px;
  height: 800px;
  display:flex;
  flex-direction: column;
  align-items: center;
 border-radius: 10px;
  background-color: white;

}

.bottom-section{
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.main-input{
  width: 85%;
  padding: 10px;
  outline: none;
  border:none;
  border-bottom: 2px gray solid;
  background-color: white;
  color: black;
  opacity: 50%;
  z-index: 20;
  font-size: 16px;
}

.second-input{
  font-size: 16px;
  width: 85%;
  padding: 10px;
  outline: none;
  border:none;
  border-bottom: 2px gray solid;
  position: absolute;
}

.main-input:focus{
  border-bottom: 2px rgb(127, 127, 242) solid;
}

button{
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgb(127, 127, 242);
  color: white;
}

img{
  width: 500px;
  height: 500px;
  padding: 10px;
  
}

.select-container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5px;
  position: absolute;
  top:10px
}

.option-container {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  max-height: 150px; /* Set a fixed height for the container */
  overflow-y: auto;  /* Enable vertical scrolling */
  border: 1px solid #ccc; /* Optional: Add border to differentiate the area */
}

.option{
padding: 5px 2.5px 5px 2.5px;
border: 1px rgb(209, 208, 208) solid;
margin:0;
border-top: 0;
text-align: center;
cursor: pointer;
}

.option:first-child{
  border-top: 1px rgb(209, 208, 208) solid;
  background-color: rgb(199, 197, 197);
}


